<!DOCTYPE html>
	<html>
		<head>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			

			
			
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
			<script src="jquery.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
			<link rel="stylesheet" type="text/css" href="Style.css">
		</head>
		<body>
			
			

			<div class="col-sm-12" id="row1" ><a href="index.html"><p class= "center"> Link Back To Home Page</p></a></div>
			<div class="col-sm-12" id="row2" ><h1>Home Page</h1></div>

			<div class="col-sm-4" id="row3">
			<img id="img1" src="Liancase.jpg" alt="Computer" class="center">
			<img id="img2" src="Lianopen.gif" alt="Computer" class="center" usemap="#planetmap"></div>
			
<map name="planetmap">
  <area shape="rect" coords="300,20,540,135" alt="floppy" href="Floppy.html">
  <area shape="rect" coords="600,20,850,200" alt="floppy" href="Heatsink.html">
  <area shape="rect" coords="720,220,920,420" alt="floppy" href="Harddrive.html">
  <area shape="rect" coords="700,450,920,610" alt="floppy" href="Opticaldrive.html">
  <area shape="rect" coords="675,630,910,810" alt="floppy" href="Ram.html">
  <area shape="rect" coords="362,670,645,830" alt="floppy" href="cpu.html">
  <area shape="rect" coords="20,605,330,870" alt="floppy" href="Motherboard.html">
  <area shape="rect" coords="20,280,245,490" alt="floppy" href="Powersupply.html">
  <area shape="rect" coords="50,10,330,270" alt="floppy" href="Systemfan.html">
</map>
			

		</body>
	</html>
