<!DOCTYPE html>
	<html>
		<head>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<title>
				{%block title%}{%endblock%}
			</title>

			</title>
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
			<script src="jquery.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
			<link rel="stylesheet" href="style.css">
		</head>
		<body>
			<div class="col-sm-12" id="row1" ><a href="index.html"><p class= "center"> Link Back To Home Page</p></a></div>
			<div class="col-sm-12" id="row2" ><h1>{%block head%}{%endblock%}</h1></div>
			<div class="col-sm-4" id="row3"> <p class="text">{%block info%}{%endblock%}</p> </div>
			<div class="col-sm-4" id="row4">{%block pics%}{%endblock%}</div>
			<div class="col-sm-4" id="row5"><p class="text"> {%block history%}{%endblock%}</p></div>


		</body>
	</html>
